{% extends 'base.html' %}


{% block content %}
{% block title %} currency list {% endblock %}
{% for item in currency_list %}
<div class="row">
    <div class="col-sm-6">
        <div class="card bg-light mb-3">
            <div class="card-body text-dark">
                <h5 class="card-title">{{ item.get_currency_display }} bought on {{ item.date_of_bought|date:"d M Y" }}</h5>
                <h6 class="card-text">
                        Bought price : {{ item.bought_price }}<br>
                        Bought currency: {{ item.bought_currency }}<br>
                </h6>
                <a class="btn btn-primary" href="{% url 'resources:edit-currency' item.id %}" role="button">Edit</a>
                <a class="btn btn-danger" href="{% url 'resources:del-currency' item.id %}" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
