{% extends 'base.html' %}


{% block content %}
{% block title %} metal list {% endblock %}
{% for metal in metal_list %}
<div class="row">
    <div class="col-sm-6">
        <div class="card bg-light mb-3">
            <div class="card-body text-dark">
                <h5 class="card-title">{{ metal.get_name_display }} bought on {{ metal.date_of_bought|date:"d M Y" }}</h5>
                <h6 class="card-text">
                    Amount {{ metal.amount }} {{ metal.get_unit_display }}<br>
                    Bought price : {{ metal.bought_price }}
                </h6>
                <a class="btn btn-primary" href="{% url 'resources:edit-metal' metal.id %}" role="button">Edit</a>
                <a class="btn btn-danger" href="{% url 'resources:del-metal' metal.id %}" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}