{% extends 'base.html' %}

{% load mathfilters %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Gold</h5>
                <h6 class="card-text">
                    Amount: {{ total_gold }}<br>
                    Value:  {{ total_gold|mul:market_prices.au_sell_rate }}
                </h6>
                <img src="{% static 'img/gold_ico.png' %}" alt="gold" height="92" width="102">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Silver</h5>
                <h6 class="card-text">
                    Amount: {{ total_silver }}<br>
                    Value:  {{ total_silver|mul:market_prices.ag_sell_rate }}
                </h6>
                <img src="{% static 'img/silver_ico.png' %}" alt="silver" height="92" width="102">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Lands</h5>
                <h6 class="card-text">
                    Type: ---<br>
                    Amount: 0<br><br>
                </h6>
                <img src="{% static 'img/forest.svg' %}" alt="land" height="92" width="102">
            </div>
        </div>
    </div>
</div>
<br>
Currences
<br>
<div class="row">
    {% if total_dollar != None %}
    <div class="col-sm-6">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Dollar</h5>
                <h6 class="card-text">
                    Amount: {{ total_dollar }} USD<br>
                </h6>
                <img src="{% static 'img/cash_ico.png' %}" alt="cash" height="92" width="102">
            </div>
        </div>
    </div>
    {% endif %}
    {% if total_euro != None %}
    <div class="col-sm-6">
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h5 class="card-title">Euro</h5>
                <h6 class="card-text">
                    Amount: {{ total_euro }} EUR<br>
                </h6>
                <img src="{% static 'img/cash_ico.png' %}" alt="cash" height="92" width="102">
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% endif %}
    {% if total_franc != None %}
    <div class="col-sm-6">
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Franc</h5>
                <h6 class="card-text">
                    Amount: {{ total_franc }} CHF<br>
                </h6>
                <img src="{% static 'img/cash_ico.png' %}" alt="cash" height="92" width="102">
            </div>
        </div>
    </div>
    {% endif %}
    {% if total_zloty != None %}
    <div class="col-sm-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Zloty</h5>
                <h6 class="card-text">
                    Amount: {{ total_zloty }} PLN<br>
                </h6>
                <img src="{% static 'img/cash_ico.png' %}" alt="cash" height="92" width="102">
            </div>
        </div>
    </div>
    {% endif %}
        <div class="col-sm-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">My cash</h5>
                <h6 class="card-text">
                    Amount: {{ total_cash }} {{ my_currency }}<br>
                </h6>
                <img src="{% static 'img/cash_ico.png' %}" alt="cash" height="92" width="102">
            </div>
        </div>
    </div>
</div>
{% endblock %}