{% extends 'base.html' %}

{% load mathfilters %}
{% load static %}

{% block content %}
<div class="row">
<div class="col-sm-6">
    <div class="card text-white bg-warning mb-3">
        <div class="card-body">
            <h5 class="card-title">Gold</h5>
            <h6 class="card-text">
                Summary of my gold:<br>
                {{ gold.get_name_display }} {{ gold.amount|mul:gold.current_price}} {{ gold.get_unit_display }}
            </h6>
            <img src="{% static 'img/gold_ico.png' %}" alt="gold" height="92" width="102">
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Silver</h5>
                <h6 class="card-text">
                    Summary of my silver:<br>
                    {{ silver.get_name_display }} {{ silver.amount|mul:silver.current_price}} {{ silver.get_unit_display }}
                </h6>
                <img src="{% static 'img/silver_ico.png' %}" alt="silver" height="92" width="102">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">Platinum</h5>
                <h6 class="card-text">
                    Summary of my platinum:<br>
                    0 ounce
                </h6>
                <img src="{% static 'img/platinum_ico.png' %}" alt="platinum" height="92" width="102">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Cash</h5>
                <h6 class="card-text">
                    My cash:<br>
                    0 zl
                </h6>
                <img src="{% static 'img/cash_ico.png' %}" alt="cash" height="92" width="102">
            </div>
        </div>
    </div>
</div>
{% endblock %}