{% extends 'base.html' %}

{% load mathfilters %}
{% load static %}

{% block content %}
<div class="row">
<div class="col-sm-6">
    <div class="card text-white bg-warning mb-3">
        <div class="card-body">
            <h5 class="card-title">Gold summary</h5>
            <h6 class="card-text">
                Amount: {{ gold.amount }} {{ gold.get_unit_display }}<br>
                Value:  {{ gold.amount|mul:market_prices.au_sell_rate }}
            </h6>
            <img src="{% static 'img/gold_ico.png' %}" alt="gold" height="92" width="102">
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Silver summary</h5>
                <h6 class="card-text">
                    Amount: {{ silver.amount }} {{ silver.get_unit_display }}<br>
                    Value:  {{ silver.amount|mul:market_prices.ag_sell_rate }}
                </h6>
                <img src="{% static 'img/silver_ico.png' %}" alt="silver" height="92" width="102">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">Platinum summary</h5>
                <h6 class="card-text">
                    Amount: 0<br>
                    Value: 0
                </h6>
                <img src="{% static 'img/platinum_ico.png' %}" alt="platinum" height="92" width="102">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Cash summary</h5>
                <h6 class="card-text">
                    My cash:<br>
                    0 zl
                </h6>
                <img src="{% static 'img/cash_ico.png' %}" alt="cash" height="92" width="102">
            </div>
        </div>
    </div>
</div>
{% endblock %}